#DriverForm {
  max-width: 600px;
  margin: 50px auto;
  padding-inline: 18px;
}
#DriverForm header {
  text-align: center;
  margin-block: 48px;
}
#DriverForm header h2 {
  font-weight: 700;
  font-size: 2.1875rem; /* 35px */
  color: var(--text-clr);
}
#DriverForm header p {
  margin-block: 6px;
  font-weight: 400;
  color: var(--text-clr);
  font-size: 1rem;
}
#DriverForm header a {
  color: var(--link-clr);
}

/* Account type container */
.account-type-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.account-type-label {
  position: relative;
  padding-bottom: 6px;
}
.account-type-label::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 2px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: var(--text-clr);
}
.radio-control {
  display: flex;
  gap: 14px;
  align-items: center;
}
input[type="radio"] {
  accent-color: var(--blue);
  cursor: pointer;
}

/* main container */
.input-field {
  margin-top: 30px;
}
.input-label {
  font-size: 1rem;
  cursor: pointer;
  color: var(--text-clr);
}
.input-field input {
  display: block;
  width: 100%;
  margin-top: 4px;
  padding: 12px 18px;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid var(--dark);
}
.password-container {
  display: flex;
  justify-content: space-between;
}
.password-container button {
  background: transparent;
  border: none;
  color: var(--dark);
  cursor: pointer;
}
.input-field small {
  color: var(--dark);
  font-weight: 400;
  font-size: 0.875rem; /* 14px */
}
.submit-container {
  margin-block: 28px;
}
.submit-container p {
  margin-bottom: 10px;
  color: var(--dark);
  font-weight: 400;
  font-size: 0.9rem;
}
.submit-container button {
  display: block;
  width: 100%;
  color: white;
  background-color: var(--blue);
  padding-block: 12px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  transition: 0.6s;
}
.submit-container button:hover {
  background-color: var(--dark-blue-clr);
}

/* nav container */
.divider {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.divider::before,
.divider::after {
  content: "";
  display: inline-block;
  background-color: var(--dark);
  width: 100%;
  height: 2px;
}
.nav-container {
  margin-block: 30px;
}
.nav-container nav {
  display: flex;
  gap: 30px;
}
.social-media-link {
  border: 1px solid var(--dark);
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding: 10px;
  color: var(--dark);
  flex-basis: 50%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.social-media-link:hover {
  background-color: rgba(224, 224, 224, 0.555);
}
.social-media-link img {
  width: 20px;
  height: 20px;
}

/* Responsiveness - Media query */
@media screen and (max-width: 500px) {
  .nav-container nav {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 290px) {
  .account-type-container {
    gap: 20px;
  }
  .radio-control {
    gap: 8px;
  }
}
