<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User SignUp</title>
    <!-- fontawesome for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link
      rel="stylesheet"
      href="../../../../JAY CEE/MY WORK/WEB/Assets/fontawesome-free-6.1.1-web/css/all.min.css" />
    <link rel="stylesheet" href="css/signup.css" />
  </head>
  <body>
    <form action="">
      <header>
        <h1>Create an account</h1>
        <p>Already have an account?<a href="">log in</a></p>
        <!-- Enter the url for the login page -->
      </header>
      <section class="account-type-container">
        <label class="account_type_label">Account Type:</label>
        <div class="input-control">
          <label for="account_type">Driver</label>
          <input type="radio" id="account_type" name="account_type" />
        </div>
        <div class="input-control">
          <label for="account_type">Mechanic</label>
          <input type="radio" id="account_type" name="account_type" />
        </div>
      </section>
      <main>
        <div class="input-control">
          <label for="name">What's your name?</label>
          <input type="text" id="name" placeholder="Enter your name" />
        </div>
        <div class="input-control">
          <label for="email">What's your email?</label>
          <input
            type="email"
            id="email"
            placeholder="Enter your email address" />
        </div>
        <div class="input-control">
          <div>
            <label for="password">Create a password</label>
            <button type="button"><i class="fa fa-eyeslash"></i> Hide</button>
          </div>
          <input
            type="password"
            id="password"
            placeholder="Enter your password" />
          <small
            >Use 8 or more characters with a mix of letters, numbers &
            symbols</small
          >
        </div>
      </main>
      <section>
        <p>
          By creating an account you agree to the Terms of use and Privacy
          Policy.
        </p>
        <button type="submit">Create an account</button>
      </section>
      <section class="nav-container">
        <div class="divider">OR</div>
        <nav>
          <a href="#" class="social-media-link">
            <!-- link to facebook auth {% url 'social:begin' 'facebook' %} -->
            <img src="image/facebook-logo.svg" alt="facebook's logo" />
            Sign up with Facebook
          </a>
          <a href="#" class="social-media-link">
            <!-- link to google auth {% url 'social:begin' 'google' %} -->
            <img src="image/google-logo.svg" alt="google's logo" />
            Sign up with Google
          </a>
        </nav>
      </section>
    </form>
  </body>
</html>
